@import '@/styles/mixins/layout';
@import '@/styles/common/_variables';

.footer {
  height: $gap;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: $gap;

  @include sm {
    font-size: 0.75rem;
    margin: calc($gap / 2) auto 0 auto;
    width: 90%;
  }

  @include min-md {
    padding: 0 $gap;
  }

  .footer__text {
    font-style: italic;
    border-top: 1px solid $white;
    padding: 1rem 0;
  }
  // background-color: $gray;
}
