@import '@/styles/common/_variables';

.footer {
  height: $gap;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: $gap;
  padding: 0 $gap;
  .footer__text {
    font-style: italic;
    border-top: 1px solid $white;
    padding: 1rem 0;
  }
  // background-color: $gray;
}
