@import './mixins/layout';
@import '@/styles/_variables';

.adjustment {
  margin: auto;
  padding-top: $gap;

  @include sm {
    width: 90%;
  }

  @include min-md {
    width: 80%;
  }

  @include xl {
    width: calc(100% - 288px);
  }

  @include xxl {
    width: 1440px;
  }
}
