@import './_reset';
@import './variables';
@import './adjustment';

// sections

@import './sections/_profile';
@import './sections/_tab.scss';

html {
  background-color: $black;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  min-height: 100vh;
}
