@import './_reset';
@import './variables';
@import './adjustment';

// sections
@import './sections/_profile';
@import './sections/_tab';
@import './sections/_works';

// components
@import './components/card';

// font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#app {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  background-color: $black;
  min-height: 100vh;
}
