@import '@/styles/common/_layout';
@import '@/styles/common/_variables';

.adjustment {
  margin: auto;
  padding-top: $gap;

  @include sm {
    width: 85%;
  }

  @include md {
    width: 70%;
  }

  @include min-lg {
    width: 768px;
  }

  @include xl {
    width: 768px;
  }

  @include xxl {
    width: 768px;
  }
}

.adjustment-gap {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.section-border {
  border: 1px solidl $soft-gray-2;
}
