@import '@/styles/common/_variables';

$tags-height: 1.5rem;

.img__tags {
  height: $tags-height;
  border-radius: calc($tags-height / 2);
  margin-right: 0.25rem;
  box-shadow: 0 4px 6px -1px rgb(26 26 26 / 0.1),
    0 2px 4px -2px rgb(26 26 26 / 0.1);
}

a {
  color: $blue;
}

p {
  word-break: break-all;
  line-height: 1.25rem;
}

li {
  word-break: break-all;
  margin: 0.5rem 0 0.5rem 1rem;

  &::before {
    content: '• ';
  }
}
span,
label {
  display: inline-block;
}

hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: $soft-gray-2;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $blue;
  margin: 0 0 $gap-sm 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
  color: $blue;
  margin: 0.5rem 0;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.font__gray {
  font-size: 0.85rem;
  color: $soft-gray;
}
