@import '@/styles/common/_variables';

$tags-height: 1.5rem;

.img__tags {
  height: $tags-height;
  border-radius: calc($tags-height / 2);
  margin-right: 0.25rem;
}

a {
  color: $blue;
}

span,
label {
  display: inline-block;
}

hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: $soft-gray-2;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $blue;
  margin: 0 0 $gap-sm 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
  color: $blue;
  margin: 0.5rem 0;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
