@import '@/styles/common/_variables';
@import '@/styles/common/_layout';

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-xs;

  .profile__container {
    width: 9rem;
    height: 9rem;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid $soft-gray-2;
      border-radius: 50%;
      object-fit: cover;
      filter: drop-shadow(0 1px 2px rgb(26 26 26 / 0.1))
        drop-shadow(0 1px 1px rgb(26 26 26 / 0.06));
    }
  }

  .profile__description {
    label {
      width: 5rem;
    }

    .devide {
      margin: 1rem 0;
    }
  }
}
